# OS
.DS_Store
Thumbs.db

# Credentials & secrets
*.pem
*.key
*.pfx
*.p12

# Packer
packer_cache/
manifest.json
*.box

# Terraform
*.tfbackend
!*.tfbackend.example
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
